.table-title.worker-table-title {
  padding: 2.4rem 1.6rem;
  grid-template-columns: 1fr 9.6rem 9.6rem 9.6rem 9.6rem;
  column-gap: 4.8rem;
}

.table-title.worker-table-title p:not(:first-child) {
  justify-self: center;
}

.list-row.worker-row {
  padding: 0.8rem 1.6rem;
  grid-template-columns: 6rem 1fr 9.6rem 9.6rem 9.6rem 9.6rem;
  column-gap: 4.8rem;
  margin-bottom: 1.6rem;
}

.list-row.worker-row div:not(:nth-child(2)) {
  justify-self: center;
}

.avatar {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 200px;
}