.card {
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 2rem var(--primary-color-w300-transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}